//
   Created by yiihua-013 on 16/7/19.

doctype html
html
    head
        meta(charset='utf-8')
        title 仿jQuery UI Resizable Panel
        link(href='css/style.css' rel='stylesheet')
    body
        #ui-resizable.panel
            .title 可调面板标题
            // 3个控制元素
        script(src='js/main.js')
