// 模板继承
   Created by gaopengfei on 2015/12/15.

doctype html
html
    head
        title 模板继承
    body
        h2 模板继承
        // define a block
        block desc
            p 慕课网 学堂在线 网易云课堂
        // reuse the block
        block desc
        strong This is just a simple demo for reuse the block,The template extends you can see the layout.jade