//
   Created by gaopengfei on 2015/12/15.
doctype html
<!--[if IE 8]><html class='ie8'><! [endif]-->
<!--[if IE 9]><html class='ie8'><! [endif]-->
<!--[if !IE]><!--><html><!--<! [endif]-->
head
    // include the head.jade
    include head
body
    block desc
        p desc from layout.jade
    block content
</html>