//
   Created by gaopengfei on 2015/12/15.

div
    h3 jade runtime call
    p this is from jade pre-compile
    p we use the `jade --client runtime.jade` to create a file named `runtime.js`
    p we can use `runtime.js` in other jade files