// 使用runtime.js
   Created by gaopengfei on 2015/12/15.

#runtime

script(src='node_modules/jade/runtime.js')
script(src='runtime.js')
script.
    var runtimeNode = document.getElementById('runtime');
    var runtimeHtml = template({isRuntime: true});
    runtimeNode.innerHTML = runtimeHtml;