*{
    margin: 0;
    padding: 0;
}
.title{
    width: 400px;
    height: 70px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #f00;
}
.btns{
    width: 190px;
    height: 30px;
    margin: 0 auto;
}
.btns span{
    display: block;
    float: left;
    width: 80px;
    height: 25px;
    line-height: 25px;
    background: #036;
    border: 1px solid #eee;
    border-radius: 7px;
    margin-right: 10px;
    color: #fff;
    text-align: center;
    font-family: "微软雅黑";
    cursor: pointer;
}