.idea/
/html5/offline-app/offline/public/js/libs/
*.class
lib/bootstrap-3.3.5/
/Accordian/css/*.css
/Pagination/css/*.css
/html5/offline-app/jquery-2.1.1.js
/TimeLine/css/style.css
/DragEffect/css/*.css
lib/jquery-ui-1.11.4.custom/
lib/jquery-validation-1.13.1/
lib/jquery.mobile-1.3.2/
lib/react-0.13.3/
lib/d3/
/Tooltip/css/*.css
/ImageZoomEffect/css/*.css
/Carousel/css/*.css
/HoverEffect/css/*.css
/InformationListEffect/css/*.css
lib/jquery.easing/
/ZoomEffect/css/*.css
/html5/dragon-boat/css/*.css
**/node_modules/
/html5/offline-app/**/*.css
lib/fullPage.js/
lib/move.js/
/ImageShowEffect/css/*.css
/canvas/five-chess/css/*.css
/Velocity/css/*.css
lib/normalize.css
/CSS3/Gallery/style.css
/BaiKuai/css/main.css
lib/jquery-2.1.1.js