html,body,svg{
    margin:0;
    padding:0;
    background: #000;
    width: 100%;
    height: 100%;
}
.ctrl-btns{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
button{
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,12,34,.8);
    width: 80px;
    height: 30px;
    outline:none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(235,45,68,.4);
    background: rgba(20,200,244,.5);
    margin:20px 10px;
    transition: all 1s ease;
}
button:hover{
    font-weight: bold;
    font-size: 16px;
    color: rgba(167,34,234,.9);
    background: rgba(234,245,12,.3);
}