#toolbox{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    width: 250px;
    border-right:1px solid #ccc0b3;
}

#toolbox h2{
    margin: 0;
    background: #EEEEEE;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    padding: 5px 10px;

}
#toolbox form{
    padding: 10px;
}
#canvas{
    position: absolute;
    left: 260px;
    top:10px;
    bottom: 10px;
    right: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.4);
    border-radius: 5px;
}
label{
    display: inline-block;
    width: 80px;
    text-align: right;
}