body {
    background: #eee;
}
svg {
    position: absolute;
    border: 1px solid green;
    width: 300px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background: white;
}
input[type=number]{
    width: 50px;
}