	*{margin:0; padding:0; font-size:12px; list-style:none;font-family: "微软雅黑"}
		a{text-decoration:none;}
		a:hover{text-decoration:underline;}
		a img{border:none;}
		body{background:#efefec;}
		
		#top{
			width:100%; overflow:hidden; border-bottom:1px solid #dadad9;
			background:#fff; float:left; 
			text-align:center;
			
/*			固定层的2个必要属性*/
			position:fixed; 
			top:0; 
/*底部固定层  bottom: 0;*/
		}
		#top input{border:none;}

		.left{float:left; margin-left:10px;}
		.search{float:left; margin-left:10px; margin-top:7px;}
		.select_btn{background:url(select_top.gif) no-repeat; width:57px; height:42px; cursor:pointer; float:left;}
		.search_input{background:url(input_search.gif) no-repeat; width:104px; height:28px; float:left; padding-left:5px;}
		.search_btn{background:url(search_btn.gif) no-repeat; width:29px; height:28px; float:left;}

		.right{float:right; margin-right:10px; padding:5px 10px 0; border-left:1px solid #f5f5f5; border-right:1px solid #f5f5f5; height:37px;}
		.topbtn{background:url(top_btn.gif) no-repeat; width:54px; height:30px; line-height:30px; color:#444;}

		.margin_l_10{margin-left:10px;}
		.margin_t_5{margin-top:5px;}
		.center{margin:0 15px;}
		.center_r{margin-right:15px;}

		#mainbody{width:80%; overflow:hidden; margin:0 auto; margin-top:62px;}
		.content{width:236px; border:1px solid #dcdcda; float:left;}
		.content li{margin-bottom:15px; text-align:center;}
		.content li h2{text-align:left; padding:12px 15px; font-weight:normal; color:#444; background:#fff; margin-top:-3px; background:#fafafa;}
		.content li dl{border-top:1px solid #f2f2f2; text-align:left;}
		.content li dt{padding:15px; float:left; border-right:1px solid #f2f2f2;}
		.content li dd{padding-top:18px; text-indent:15px;}
		.content li dd a{color:#9e7e6b;}

		#footer{width:100%; background:#fff; text-align:center; padding:20px 0; color:#999; border-top:#ccc; margin-top:20px;}