body{
    padding: 0;
    font-size: 10pt;
    font-family: "微软雅黑";
    /* 兼容IE6的hover属性 */
    behavior: url(csshover.htc);
}

.topmenu{
    display: block;
    width: 220px;
    border: 2px solid #e4393c;
    margin: 0;
    padding: 0;
}

.toptitle{
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 11pt;
    font-weight: bold;
    color: #ffffff;
    background: #e4393c;
    padding-left: 20px;
}

.topmenu li{
    height: 30px;
    line-height: 30px;
    font-size: 11pt;
    list-style: none;
    text-align: left;
    padding-left: 8px;
    z-index: 3;
    /* 每个li右侧的小箭头 */
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    background-position: right;
}

.topmenu li a{
    text-decoration: none;
    color: #313131;
}

.topmenu li a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: #e4393c;
}

/* 鼠标移动到上面时应用的样式 */
.topmenu .lihover{
    border: 1px solid #dddddd;
    /* 没有右侧边框 */
    border-right: 0;
    /* 外发光，需要兼容浏览器 */
    box-shadow: 0 0 8px #ddd;
    -moz-box-shadow: 0 0 8px #ddd;
    -webkit-box-shadow: 0 0 8px #ddd;
    /* 没有小箭头 */
    background-image: none;
}

/* 悬浮层 */
.topmenu .lihover .submenu{
    margin-left: 10px;
    margin-top: 8px;
    display: block;
}

/* 白色小方框 */
.topmenu .lihover span{
    background: #ffffff;
    display: inline-block;
    z-index: 20;
    width: 20px;
    height: 30px;
    float: right;
    position: relative;
}

.submenu{
    display: none;
    width: 715px;
    left: 220px;
    position: absolute;
    top: 40px;
    border: 1px solid #dddddd;
    z-index: 4;
    background: #ffffff;
    box-shadow: 0 0 8px #ddd;
    -moz-box-shadow: 0 0 8px #ddd;
    -webkit-box-shadow: 0 0 8px #ddd;
}

.leftdiv{
    float: left;
    width: 490px;
    margin: 5px;
}

.rightdiv{
    float: left;
    width: 200px;
    margin: 5px;
}

.leftdiv dl{
    display: block;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 6px;
    overflow: hidden;
}

.leftdiv dl dt{
    display: block;
    float: left;
    width: 60px;
    text-align: right;
    height: 22px;
    line-height: 22px;
    padding-right: 6px;
}

.leftdiv dl dt a{
    color: #e4393c;
    font-weight: bold;
    text-decoration: underline;
    font-size: 10pt;
}

.leftdiv dl dd{
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}

.leftdiv dl dd a{
    display: block;
    float: left;
    border-left: 1px solid #cccccc;
    color: #737373;
    font-size: 9pt;
    padding: 0 8px;
    height: 14px;
    line-height: 14px;
    /* 很巧妙解决了标题和文字的同一水平线的问题 */
    margin: 4px 0;
}

.rightdiv dl dd{
    margin: 3px 0;
}

.rightdiv dl dt{
    color: #e4393c;
    font-weight: bold;
    font-size: 10pt;
}

.rightdiv dl dd a{
    font-size: 9pt;
    color: #737373;
    line-height: 22px;
}

.rightdiv dl dd a:hover{
    color: #737373;
    font-weight: normal;
}