.box1 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;

    /* CSS3动画效果@keyframes原则(动画名称，动画时间) */
    animation: anim 5s infinite alternate;
    -webkit-animation: anim 5s infinite alternate;
}

@keyframes anim {
    0% {
        background-color: red;
        left: 0;
        top: 0
    }
    25% {
        background-color: green;
        left: 200px;
        top: 0
    }
    50% {
        background-color: blue;
        left: 200px;
        top: 200px
    }
    75% {
        background-color: yellow;
        left: 0;
        top: 200px
    }
    100% {
        background-color: red;
        left: 0;
        top: 0
    }
}

@-webkit-keyframes anim {
    0% {
        background-color: red;
        left: 0;
        top: 0
    }
    25% {
        background-color: green;
        left: 200px;
        top: 0
    }
    50% {
        background-color: blue;
        left: 200px;
        top: 200px
    }
    75% {
        background-color: #ffff00;
        left: 0;
        top: 200px
    }
    100% {
        background-color: red;
        left: 0;
        top: 0
    }
}

.box2 {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background-color: #ff00ff;
}

.box2:hover {
    -webkit-animation: hover-animate 1s ease-in infinite;
}

@-webkit-keyframes hover-animate {
    0% {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    50% {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #ff0000;
    }
    100% {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}