.box{
    width: 400px;
    height: 300px;
    border: 1px #cccccc solid;
    margin: 30px auto;
    position: relative;
}
.box .ball{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -70px;                                     /* 球宽度的一半 */
    background: -webkit-linear-gradient(top,#ffffff,#999);  /* 自上而下由白色渐变成灰色 */
    box-shadow: inset 0 0 30px #999,inset 0 -15px 70px #999;/* 两个内阴影 */
    -webkit-animation: jump 1s ease-in-out infinite;
    z-index: 1;
}
.box .ball:after{
    content: " ";
    display: block;
    width: 70px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -35px;
    background: -webkit-linear-gradient(#ffffff, #cccccc);
}
.shadow{
    width: 80px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
    background: rgba(20, 20, 20, .1);
    box-shadow: 0 0 25px 20px rgba(20,20,20,.1);
    transform: scaleY(.3);
    -webkit-animation: shrink 1s infinite;
}
@-webkit-keyframes jump {
    0%{
        top: 0;
        -webkit-animation-timing-function: ease-in;
    }
    65%{
        top: 160px;
        height: 140px;
    }
    75%{
        height: 120px;
    }
    100%{
        top: 0;
        height: 140px;
    }
}
@-webkit-keyframes shrink {
    0%{
        width: 90px;
        height: 60px;
        -webkit-animation-timing-function: ease-in;
    }
    65%{
        width: 10px;
        height: 5px;
        margin-left: -5px;
        background: rgba(20, 20, 20, .3);
        box-shadow: 0 0 25px 20px rgba(20,20,20,.3);
    }
    100%{
        width: 90px;
        height: 60px;
        background: rgba(20, 20, 20, .1);
        box-shadow: 0 0 25px 20px rgba(20,20,20,.1);
    }
}