@charset "utf-8";

/* 公用 */
.commonWidth{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.leftArea{
    float: left;
}
.rightArea{
    float: right;
}
.hide{
    display: none;
}
.show{
    display: block;
}

.pb-10 {
    padding-bottom: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}
/* topBar */
.topBar{
    height: 31px;
    line-height: 31px;
    background-color: #f7f7f7;
}
.collection{
    background: url("../images/icon/collection.jpg") left center no-repeat;
    padding-left: 19px;
    font-weight: bold;
}
.topBar a:hover{
    color: red;
}

/* logo */
.logoBar{
    height: 85px;
    background-color: #1d7ad9;
}
.logo{
    padding: 13px 0 0 41px;
}

/* 搜索 */
.search-box{
    width: 430px;
    padding: 23px 0 0 185px;
}
.search-text{
    width: 360px;
    height: 35px;
    line-height: 35px\9; /* CSS hack \9表示所有的IE*/
    font-family: "微软雅黑";
    text-indent: 5px;
    /*padding: 0 5px;*/
    background-color: #ffffff;
}
.search-btn{
    width: 70px;
    height: 35px;
    font-size: 14px;
    color: #ffffff;
    background-color: #ff8c00;
}

/* 购物车 */
.shopCar{
    display: inline;
    width: 145px;
    height: 35px;
    background-color: #ff8c00;
    margin: 23px 59px 0 0;

    color: #ffffff;
    /*font-size: 14px;*/
    /*line-height: 35px;*/
    /*font-family: "Microsoft Yahei";*/

    /*以上3句简写如下：*/
    font: 14px/35px "微软雅黑";
}
.shopText{
    width: 87px;
    height: 100%;
    border-right: #e27a00 solid 1px;
    background: url("../images/icon/shaoIcon.jpg") 10px center no-repeat;
    text-indent: 40px;
}
.shopNum{
    width: 27px;
    height: 35px;
    border-left: #ff9c01 solid 1px;
    background: url("../images/icon/sj.jpg") 33px center no-repeat;
    text-align: right;
    padding-right: 29px;
}

/* 导航 */
.navBox{
    height: 35px;
    background-color: #1369c0;
    font-family: "微软雅黑";
    color: #ffffff;
}
.shopClass{
    width: 190px;
    position: relative;
}
.shopClass h3{
    text-align: center;
    line-height: 35px;
}
.shopClass i{
    display: inline-block;
    width: 11px;
    height: 7px;
    background: url("../images/icon/down.jpg") left center no-repeat;
    margin-left: 11px;
    overflow: hidden;
}
.nav{
    line-height: 35px;
}
.nav li{
    float: left;
}
.nav a{
    display: inline-block;
    height: 35px;
    padding: 0 35px;
    color: #ffffff;
}
.nav .active{
    background-color: #4593fd;
}
/* 商品弹出列表 */
.shopClass-show {
    background-color: #4593fd;
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    padding-bottom: 1px;
}
.shopClass-item{
    padding: 13px 10px;
    line-height: 16px;
    border-bottom: #3487f2 solid 1px;
    border-top: #5aa1fe solid 1px;
}
.shopClass-item dt{
    height: 21px;
    line-height: 1;
    overflow: hidden;
    background: url("../images/icon/shop_sj.jpg") right center no-repeat;
}
.shopClass-item .b{
    font-family: "Microsoft Yahei";
    font-size: 14px;
    font-weight: bold;
}
.shopClass-item a{
    color: #ffffff;
}
.aLink{
    width: 48px;
    height: 20px;
    line-height: 20px;
    background: url("../images/icon/aLink_bg.png") left center no-repeat;
    display: inline-block;
    text-align: center;
    text-decoration: underline;
}

/* banner */
.banner{
    margin-bottom: 15px;
}
.banner-bar{
    float: right;
    position: relative;
    overflow: hidden;
}
.imgBox{
    position: absolute;
    left: 0;           /* 使用js将left改变为-810px可以切换到第二个图片 */
    top: 0;
}
.imgBox li{
    float: left;
}
.imgBox img{
    display: block;
}
.imgNum{
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
}
.imgNum a{
    display: inline-block;
    width: 20px;
    height: 5px;
    margin: 0 3px;
    background-color: #ffffff;
}
.imgNum .active{
    background-color: #ff7700;
}

.banner-big,.banner-big img{
    width: 810px;
    height: 326px;
}
.banner-big .imgBox{
    width: 1620px;
    height: 326px;
}
.banner-small,.banner-small img{
    width: 190px;
    height: 400px;
}
.banner-small .imgBox{
    width: 380px;
    height: 400px;
}

/* 商品标题 */
.shopTitle{
    height: 44px;
    line-height: 44px;
    margin-bottom: 15px;
    font-family: 微软雅黑;
}
.shopTitle h3{
    font-size: 24px;
    float: left;
    font-weight: normal;
    padding-left: 15px;
}
.icon{
    width: 44px;
    height: 44px;
    float: left;
    background: url("../images/icon/shopIcon.jpg") left top no-repeat;
}
.more{
    float: right;
    font-family: "宋体";
}
.more:hover{
    text-decoration: underline;
}

/* 商品列表 */
.shopList{
    margin-bottom: 15px;
}
.shopList .leftArea{
    width: 190px;
}
.shopList .rightArea{
    width: 808px;
    height: 396px;
    overflow: hidden;
    border:#999999 solid 1px;
    border-bottom: 3px solid #ff7201;
}
/* 商品列表右侧 */
.shopList-top,.shopList-small{
    margin-right: -4px;
}
.shop-item{
    width: 202px;
    height: 279px;
    text-align: center;
    font-family: 微软雅黑;
    float: left;
    border-right: #999999 solid 1px;
    border-bottom:#999999 solid 1px;
}
.shop-img{
    height: 218px;
}
.shop-img img{
    width: 100%;
    display: block;
}
.shop-item h3{
    font-size: 16px;
}
.shop-item p{
    font-size: 14px;
    color: orange;
    line-height: 21px;
}
/* 商品列表：小 */
.shop-item-small{
    width: 202px;
    height: 110px;
    float: left;
    padding-top: 6px;
    border-right: #999999 solid 1px;
}
.shop-item-small-img{
    width: 95px;
    height: 95px;
    text-align: center;
    float: left;
}
.shop-item-small-img img{
    width: 95px;
    height: 95px;
}
.shop-item-text{
    padding-top: 28px;
    width: 100px;
    float: left;
}
.shop-item-text p{
    color: #ff7300;
}
.shop-item-text h3{
    font-family: 微软雅黑;
    font-size: 16px;
    font-weight: normal;
    color: #181818;
    line-height: 30px;
}

.hr_25{
    height: 25px;
}

.hr_15 {
    height: 15px;
}

.hr_45 {
    line-height: 45px;
}
/* 底部 */
.footer{
    text-align: center;
    background-color: #d4d4d4;
    line-height: 24px;
    margin-top: 25px;
    padding: 50px 0;
}
.footer i{
    font-style: normal;
    margin: 0 5px;
}
.footer a{
    color: #000000;
}
.footer a:hover{
    color: #f60;
}
.web{
    padding-top: 30px;
}
.web img{
    margin: 0 12px;
}

/* components */
/*select*/
.select {
    border: 1px #999999 solid;
    height: 22px;
    line-height: 22px;
    float: left;
    background-color: #fff;
    padding: 0 20px 0 10px;
    position: relative;
    z-index: 4;
}

.select h3 {
    font-size: 12px;
    font-weight: normal;
}

.select span {
    position: absolute;
    background: url("../images/icon/sj_blue.jpg") center center no-repeat;
    right: 0;
    top: 0;
    height: 100%;
    width: 20px;
}

.show-select {
    position: absolute;
    border: 1px #999999 solid;
    left: -1px;
    top: 22px;
    background-color: #fff;
    width: 100%;
    display: none;
}

.show-select li {
    padding-left: 10px;
}

/*star*/
.star {
    width: 13px;
    height: 12px;
    margin-right: 5px;
    display: inline-block;
    overflow: hidden;
    background: url("../images/icon/star.gif") left top no-repeat;
}