.grey {
    background-color: #f0f0f0;
}

/* 用户位置 */
.user-position {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 0;
    font-family: Verdana;
}

.user-position em, .user-position strong, .user-position a, .user-position span {
    font-size: 12px;
}

.user-position em {
    font-style: normal;
}

.user-position a:hover {
    text-decoration: underline;
}

.description-info {
    background-color: #fff;
}

.description {
    border: 1px #cccccc solid;
}

.description .leftArea {
    width: 309px;
}

.description .rightArea {
    width: 688px;
    border-left: #cccccc 1px solid;
}

/* 图片展示 */
.description-imgs .big-img {
    height: 340px;
    text-align: center;
}

.small-img {
    padding-left: 1px;
    width: 265px;
    margin: 0 auto;
}

.small-img .active {
    border-color: #317ee7;
    position: relative;
}

.small-img li {
    margin-left: -1px;
    float: left;
}

.small-img img {
    border: 1px solid #cccccc;
}

.description-content {
    padding: 10px;
}

.des-content-title {
    font: bold 16px/22px "微软雅黑"; /* 16号字体，行高22 */
    padding: 13px 25px;
}

.description-content .dl {
    margin-bottom: 8px;
}
.description-content .dt {
    width: 75px;
    line-height: 25px;
    float: left;
    color: #666666;
    text-indent: 17px;
}

.description-content .dd {
    padding-left: 75px;
    *padding-left: 0; /* IE6、7hack */
}
.description-money {
    font-size: 18px;
    color: #f30;
    font-family: Verdana;
}

.description-money em {
    font-style: normal;
    font-size: 12px;
}

/* 换购 */
.hg {
    padding-top: 3px;
    display: inline-block;
}

.icon-hg {
    width: 55px;
    height: 18px;
    display: inline-block;
    background: url("../images/icon/hg_icon.jpg") left top no-repeat;
    color: #ffffff;
    font-style: normal;
    text-indent: 16px;
    line-height: 18px;
    margin-right: 10px;
}

/* 送货 */
.des-position {
    padding: 15px 0;
    background-color: #F2F2F2;
}

.the_goods {
    line-height: 24px;
    padding-left: 10px;
}

.description-content .color-select {
    line-height: 35px;
}

.des-item {
    color: #666666;
    padding: 9px 10px;
    border: 1px solid #ccc0b3;
    float: left;
    background: #ffffff;
    margin-right: 10px;
}

.des-item-active {
    border-color: #000099;
    color: #2c2c2c;
}

.des-item-sm {
    padding: 3px 7px;
    margin-bottom: 8px;
}

.description-content .des-select-more {
    line-height: 55px;
}

/* 数量 */
.des-number {
    border: 1px solid #b2b2b2;
    width: 82px;
    height: 32px;
    float: left;
}

.des-number div {
    height: 100%;
    float: left;
}

.reduction, .plus {
    width: 15px;
    background: url("../images/icon/plus_bg.jpg") left top no-repeat;
    text-align: center;
    color: #333;
}

.reduction {
    border-right: 1px solid #ccc;
}

.plus {
    border-left: 1px solid #ccc;
}

.des-input {
    width: 40px;
    padding-left: 5px;
    background: url("../images/icon/des_input_bg.jpg") left top no-repeat;
}

.des-input input {
    width: 100%;
    height: 100%;
    line-height: 32px \9; /* IE */
    text-align: center;
    color: skyblue;
}

.xg {
    line-height: 32px;
    float: left;
    padding-left: 10px;
    font-weight: bold;
    color: #656565;
}

.xg em {
    color: orange;
    font-style: normal;
}

.description-content .des-number {
    line-height: 32px;
}

.des-select {
    font-weight: bold;
    margin: 22px 0 12px;
    text-indent: 17px;
}

.des-select span {
    color: #0479c9;
}

.shop-buy {
    text-align: center;
}

.shopping-btn, .buy-btn {
    width: 184px;
    display: inline-block;
    height: 48px;
    background: url("../images/icon/buy_btn.jpg") left top no-repeat;
}

.line {
    width: 1px;
    height: 90px;
    background: #2c2c2c;
    display: inline-block;
}

.line, .shopping-btn, .buy-btn {
    vertical-align: middle;
    margin: 0 40px;
}

.notes {
    color: #CCCCCC;
    text-indent: 17px;
}

/* 产品介绍 */
.des-info .leftArea {
    width: 190px;
}

.des-info .rightArea {
    width: 790px;
}

.recommend {
    border: #CCCCCC 1px solid;
    padding-bottom: 15px;
}

.recommend .tit {
    height: 39px;
    border-bottom: 1px solid #CCCCCC;
    line-height: 39px;
    text-indent: 15px;
    font-size: 14px;
    background-color: #f3f3f3;
}

.recommend .item {
    float: none;
    height: auto;
}

.recommend .price {
    padding-top: 0;
}

/* 详细介绍 */
.des-info-content {
    border: #CCCCCC 1px solid;
    background: #ffffff;
}

.des-title {
    height: 39px;
    border-bottom: 1px solid #CCCCCC;
    background: url("../images/icon/des_title.jpg") left top repeat-x;
}

.des-title li {
    width: 50%;
    float: left;
    font-size: 14px;
    line-height: 39px;
    font: 14px/39px "宋体";
    text-align: center;
    border-left: 1px #CCCCCC solid;
    margin-left: -1px;
}

.des-title .active {
    background-color: #0479ca;
    font-weight: bold;
    color: #ffffff;
}

.des-title span {
    background: url("../images/icon/des_title_icon.png") left center no-repeat;
    padding-left: 32px;
    display: inline-block;
    line-height: 39px;
}

.ad {
    padding: 30px 0;
    text-align: center;
}

.info-text {
    padding: 0 20px;
}

.info-text p {
    line-height: 22px;
    font-size: 14px;
    color: #CCCCCC;
}

.info-tit {
    height: 26px;
    border-bottom: #CCCCCC 1px solid;
    font-family: "arial", "微软雅黑";
    margin-bottom: 18px;
    position: relative;
}

.info-tit h3 {
    float: left;
    font-size: 16px;
    color: #257a5a;
    border-bottom: #000033 1px solid;
    height: 26px;
    margin-bottom: -1px;
    position: relative;
    padding-right: 8px;
}

.info-tit h4 {
    font-size: 12px;
    line-height: 26px;
    padding-left: 4px;
    color: #656565;
}

.center {
    display: block;
    margin: 0 auto;
}
/* 商品评价 */
.shop-des-tit{
    line-height: 38px;
    height: 38px;
    font-size: 14px;
    color: #656565;
    padding-left: 10px;
}
.score-box{
    padding-left: 10px;
    height: 120px;
}
.score{
    font-family: "微软雅黑";
    float: left;
    margin-right: 10px;
}
.score em{
    font-size: 18px;
    color: #65657d;
    font-style: normal;
}
.score span{
    color: #000099;
    font-size: 50px;
}
.score-speed{
    float: left;
    width: 450px;
    line-height: 16px;
    font-size: 12px;
    margin-top: 10px;
    position: relative;
}
.score-speed-text{
    height: 16px;
    overflow: hidden;
    color: #ffffff;
    background-color: #bdbdbd;
    margin-bottom: 10px;
}
.score-speed-text li{
    float: left;
}
.score-speed-text .speed-1{
    width: 114px;
    text-indent: 26px;
}
.score-speed-text .speed-2{
    width: 82px;
}
.score-speed-text .speed-3{
    width: 76px;
}
.score-speed-text .speed-4{
    width: 65px;
}
.score-num{
    position: absolute;
    left: 94%;
    top: -21px;
    text-align: center;
    width: 25px;
    height: 14px;
    background-color: #7f7f7f;
    color: #fff;
}
/* 小三角 */
.score-num i{
    border: 4px dashed transparent;
    border-top: solid #7f7f7f;
}

/* 满意度切换 */
.review-tab {
    height: 30px;
    background-color: #F2F2F2;
}

.review {
    height: 100%;
    line-height: 32px;
    padding-left: 20px;
}

.review li {
    height: 100%;
    float: left;
    margin-right: 40px;
}

.review li a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}

.review a.active {
    color: #317de6;
    font-weight: bold;
    border-bottom: #317de6 solid 2px;
    margin-bottom: -2px;
    position: relative;
}

.review-sort {
    padding: 5px 5px 0 0;
}

.review-sort a {
    display: inline-block;
    line-height: 20px;
    height: 20px;
    border: 1px solid #CCCCCC;
    padding: 0 20px 0 6px;
    background: url("../images/icon/down.png") 58px center no-repeat;
}

.review-list {
    margin-bottom: 10px;
    padding-top: 18px;
}

.review-user-head {
    width: 170px;
}

.review-user {
    margin-left: 40px;
    width: 60px;
    text-align: center;
}

.review-user img {
    width: 60px;
    height: 60px;
    display: block;
}

.review-user p {
    line-height: 20px;
}

.review-content {
    padding-left: 170px;
}

.starBox .star {
    margin-top: 1px;
}

.stars-text {
    font-weight: bold;
    padding-left: 10px;
}

.review-t {
    height: 24px;
    padding-top: 5px;
}

.review-content p {
    line-height: 30px;
}