body{
    padding-top: 10px;
}

.all_bg{
    width: 800px;
    height: 600px;
    margin: 0px auto;
}

#allcanvas{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0;
    cursor: crosshair;
}

#canvas1{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#canvas2{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}