.clearfix::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    font-size: 0;
}

ul {
    list-style-type: none;
}

li {
    width: 200px;
    height: auto;
    margin: 15px;
    float: left;
    position: relative;
    cursor: pointer;
}

/*li::after{
	content: attr(class);
	display: block;
	width: 200px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	color:#fff;
	background-color:rgba(0,0,0,.3);
	position: absolute;
	left:2px;
	bottom:2px;
}*/
li img {
    width: 100%;
    height: auto;
    border: 2px solid rgba(250, 250, 250, .8);
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, .5);
    transition: all .5s;
    filter: grayscale(1);
    transition: all .5s;
}

li:hover img {
    filter: grayscale(0);
    box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 1);
}

