html, body {
    width: 100%;
    height: 100%;
}

body {
    background: url(../images/cloud.jpg),
    url(../images/mountain.jpg) no-repeat center center fixed;
    background-size: cover, cover;
    background-blend-mode: overlay, normal;
    /*isolation: isolate;*/
    animation: bgAnim 10s linear infinite;
}

@keyframes bgAnim {
    0% {
        background-position: 0px 0%, center center;
    }
    100% {
        background-position: -512px 0%, center center;
    }
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}
