<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular中多个Controller间共享数据</title>
</head>
<body>
<div ng-controller="FCtrl">
    <input type="text" ng-model="data.msg"/>

    <h2>{{data.msg}}</h2>
</div>
<div ng-controller="SCtrl">
    <input type="text" ng-model="data.msg"/>

    <h2>{{data.msg}}</h2>
</div>
</body>
<script src="../lib/angular.min.js">
    angular.module('app', [])
            .controller('FCtrl', function ($scope) {
                $scope.data = {msg: '我是第一个Controller'}
            })
            .controller('SCtrl', function ($scope) {
                $scope.data = {msg: '我是第二个Controller'}
            })
</script>
</html>