<!DOCTYPE html>
<html ng-app="todolist">
<head lang="en">
    <meta charset="UTF-8">
    <title>todolist</title>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.5/dist/css/bootstrap.min.css"/>
</head>
<body ng-controller="TaskCtrl">
<div style="padding: 10px">
    <div class="input-group">
        <input ng-model="task" type="text" class="form-control"/>
        <span class="input-group-btn">
            <button class="btn btn-default" ng-click="add()">提交</button>
        </span>
    </div>
    <h4>任务列表</h4>
    <ul class="list-group" ng-if="tasks.length>0">
        <li class="list-group-item" ng-repeat="item in tasks track by $index">
            {{item}}
            <a ng-click="tasks.splice($index,1)">删除</a>
        </li>
    </ul>
</div>
<script src="../lib/angular.min.js"></script>
<script>
    angular.module('todolist', [])
            .controller('TaskCtrl', function ($scope) {
                $scope.task = '';
                $scope.tasks = [];
                $scope.add = function () {
                    $scope.tasks.push($scope.task);
                }
            });
</script>
</body>
</html>