* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
}

ul, li, img, a, div {
    border: none;
    list-style: none;
}

div {
    display: block;
}

a {
    color: #333333;
    text-decoration: none;
    outline: none;
}

em {
    font-weight: normal;
}

.ue-bar {
    background-color: #222222;
}

.ue-bar-wrap {
    width: 980px;
    height: 70px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.ue-bar-logo {
    width: 134px;
    height: 50px;
    float: left;
    padding-right: 10px;
    padding-top: 8px;
}

.ue-bar-logo a {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 12px;
}

.ue-bar-nav {
    height: 70px;
    float: left;
}

.ue-bar-nav li {
    height: 70px;
    float: left;
    margin-right: 20px;
}

.ue-bar-nav li * {
    color: #DADADA;
    font-size: 14px;
    display: inline-block;
    height: 17px;
    vertical-align: top;
}

.ue-bar-nav li a {
    height: 22px;
    line-height: 22px;
    padding: 22px 17px;
}

.ue-bar-nav li.active {
    background-color: #333333;
}

.ue-bar-nav li:hover {
    background-color: #333333;
}