/* 环图组件样式 */
.h5_component_ring {
}

.h5_component_ring .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 90;
    /* 任务三：修正遮罩层的样式，为其添加白色背景颜色，并且设置为完成 圆形饼图的 80% 大小 */
    background-color: #fff;
    border-radius: 50%;
    -webkit-transform: scale(.8);
}

.h5_component_ring .text {
    width: 100%;
    top: 40%;
    opacity: 0;
}

.h5_component_ring .text .per {
}