* {
    margin: 0;
    padding: 0;
}

header {
    background-color: orange;
    height: 150px;
}

article {
    background-color: green;
    height: 200px;

    /* 左右div的宽度 */
    /*padding-left: 150px;*/
    /*padding-right: 100px;*/

    overflow: hidden;
}

footer {
    background-color: blue;
    height: 100px;
}

/* 浮动元素脱离标准文档流 */
/* 淘宝双飞翼布局：左右固定，中间自适应 */

.left {
    width: 150px;
    height: 20px;
    float: left;
    margin-left: -100%;
    /*position: relative;*/
    /*left: -150px;*/
    background-color: aliceblue;

    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

.middle {
    width: 100%;
    float: left;
    background-color: darkkhaki;

    /*height: 20px;*/
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

.right {
    width: 100px;
    float: left;
    margin-left: -100px; /* 自身宽度 */
    /*position: relative;*/
    /*right: -100px;*/
    background-color: blueviolet;

    /*height: 20px;*/
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

/* 双飞翼布局和圣杯布局的不同之处 */
.inner {
    margin-left: 150px;
    margin-right: 100px;
    background-color: yellow;
}