body{
    /* 网页底色 */
    background-color: #333333;
    font-family: "微软雅黑";
}

.bg-div{
    position: relative;
    background-image: url('../images/river.jpg');
    width: 1288px;
    height: 700px;
    margin: 0 auto;
}

.search-box{
    position: relative;
    top: 200px;
    left: 300px;
}

/* 给logo和form添加float属性使logo和表单水平对齐 */
.search-box .logo{
    background-image: url('../images/logo.png');
    width: 107px;
    height: 53px;
    float: left;
    margin: -5px 20px 0 0;
}

.search-box .search-form {
    float: left;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #ff00ff;
}

.search-box .search-form .search-input-text{
    float: left;
    border: 0;
    height: 25px;
    line-height: 25px;
    /* 去掉chrome下的文本输入框处于焦点时的高亮边框 */
    outline: none;

    width: 350px;
}
.search-box .search-form .search-input-button{
    float: left;
    border: 0;
    background-image: url("../images/search-button.png");
    width: 29px;
    height: 29px;
}

.suggest{
    width: 388px;
    background-color: #ffffff;
    border: 1px solid #999999;
}

.suggest ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.suggest ul li{
    padding: 3px;
    font-size: 14px;
    line-height: 25px;
    cursor: pointer;  /* 手型光标 */
}
.suggest ul li:hover{
    text-decoration: underline;
    background-color: #e5e5e5;
}