/* 基础布局(最小屏幕的布局) */
.menu {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex; /* 设置父容器为弹性盒模型 */
    flex-flow: row wrap; /* 主轴方向水平、换行 */
}

.menu li {
    height: 40px;
    text-align: center;
    line-height: 40px;

    flex: 1 1 100%;
}

.menu li:nth-child(1) {
    background-color: #39add1;
}

.menu li:nth-child(2) {
    background-color: #3079ab;
}

.menu li:nth-child(3) {
    background-color: #982551;
}

.menu li:nth-child(4) {
    background-color: #e15258;
}

.menu li:nth-child(5) {
    background-color: #cc6699;
}

.menu li:nth-child(6) {
    background-color: #52ac43;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
}

/* 媒体查询 */

/* 中等屏幕 */
@media (min-width: 480px) {
    .menu li {
        flex: 1 1 50%;
    }
}

/* 大屏幕 */
@media (min-width: 768px) {
    .menu {
        flex-flow: row nowrap;
    }
}

